* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-text-white;

    &.bright {
        color: $color-nav-dark;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 5px;
    }
}