$color-primary-dark: #182952;
$color-secondary-dark: #2b3595;
$color-tertiary-dark: #7045af;
$color-nav-dark: #03051e;
$color-search-dark: #dbedf3;
$color-text-white: #f8f8ff;

$color-primary-bright: #defcfc;
$color-secondary-bright: #8F71FF;
$color-tertiary-bright: #cbf1f5;
$color-nav-bright: #ffe6eb;

$color-modal: #BBC2C2;

// PRIM  82acff
// SEC  8F71FF
// TER  8bffff
// NAV  ff5d9e