.error404 {
    text-align: center;
    padding: 10% 0;
    font-size: 2.5rem;
    text-transform: capitalize;
    z-index: 2;
    position: relative;

    &_num {
        font-size: 4rem;
        font-weight: 700;
    }
    &_txt {
        margin: 4rem 0;
    }
    &_img {
        max-width: 100%;
    }
}