 .mainHeader {
        text-align: center;
        padding: 2rem 0;
        z-index: 3;
        position: relative;

        &_search {
            position: relative;
            display: inline-block;
            width: 40%;
            height: 3.5rem;
            background-color: $color-search-dark;
            border-radius: 100px;
            text-transform: capitalize;
            color: $color-primary-dark;

            &_input {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border-color: transparent;
                color: inherit;
                font-weight: inherit;
                font-family: inherit;
                font-size: inherit;
                padding-left: 4rem;
                border-radius: 100px;
                text-transform: inherit;

                &::-webkit-input-placeholder {
                    color: inherit;
                    font-weight: inherit;
                    font-family: inherit;
                    font-size: inherit;
                }
                &:focus {
                    outline: none;
                    border: 1px solid #00818a;
                }
            }
            &_i {
                position: absolute;
                top: 50%;
                left: 1rem;
                font-size: 80%;
                transform: translateY(-50%);
            }
            &_label {
                position: absolute;
                top: 22.5%;
                right: 1rem;
                transition: all .2s;
            }
            &_input:placeholder-shown + &_label {
                opacity: 0;
                right: 65%;
            }
            &_dialog {
                position: absolute;
                top: calc(100% + .5px);
                left: 7%;
                z-index: 5;
                width: 86%;
                max-height: 30rem;
                background-color: $color-search-dark;
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
                overflow-y: auto;
                opacity: 0;
                transform: scaleY(0);
                transform-origin: top;
                transition: all .3s;

                &.open {
                    opacity: 1;
                    transform: scaleY(1);
                }
                &_resaults {
                    list-style: none;
                    text-align: left;
                    padding: 1rem;

                    &_resault {
                        cursor: pointer;

                        &:not(:first-of-type) {
                            margin-top: 2rem;
                        }
                    }
                    &_loader {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        padding-top: 2rem;

                        &_loader {
                            width: 10rem;
                        }
                    }
                }
            }
            &_error {
                color: red;
                transform: translateY(-1rem);
                text-transform: capitalize;
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }
