.cover {
    width: 100%;
    height: 100%;
    background-color: rgba($color-nav-dark, .5);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .4s linear;
    
    &.active {
        opacity: 1;
        z-index: 8;
    }
    &_modal {
        width: 80%;
        background-color: $color-text-white;
        position: absolute;
        margin: 20% 10% 0 10%;
        z-index: 9;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        border-radius: 1rem;
        overflow: hidden;
        color: $color-nav-dark;
        transform: scale(0);
        opacity: 0;
        transition: all .4s linear;

        &.active {
            transform: scale(1);
            opacity: 1;
        }
        &_header {
            font-size: 2.5rem;
            padding: 2rem;
            text-transform: uppercase;
            border-bottom: 1px solid $color-modal;

            &_close {
                color: $color-modal;
                float: right;
                cursor: pointer;
            }
        }
        &_body {
            height: 100%;
            text-transform: capitalize;
            padding: 3rem 2rem;
        }
        &_footer {
            text-align: right;
            padding: 2rem;
            background-color: $color-modal;

            &_btn {
                @include btn-fix;
                font-weight: 700;
                padding: .5rem 1.5rem;
                text-transform: uppercase;
                border-radius: 2px;
                border-bottom: 2px solid $color-nav-dark;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    background-color: $color-nav-dark;
                    color: $color-modal;
                    transform: translateY(-1px);
                }
                &:active {
                    transform: translateY(0);
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .cover_modal {
        margin-top: 30%;
    }
}